@import "variable.sass"
@import "mixin.sass"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  // background: $color-background
  color: $color-text

.box-flex
  display: flex
.box-btw,
.box-end,
.box-around,
  display: flex
  align-items: center
.box-btw
  justify-content: space-between
.box-end
  justify-content: flex-end
.box-around
  justify-content: space-around

//ui框架 css 提示框
.mint-msgbox
  width: 80%
.mint-msgbox-header
  padding: 20px 0 15px
.mint-msgbox-title
  @include font-dpr(14px)
.mint-msgbox-content
  padding: 20px 0 30px
.mint-msgbox-message
  @include font-dpr(12px)
.mint-msgbox-btns
  height: 80px
.mint-msgbox-btn
  @include font-dpr(12px)

//checkbox 选中
.check-box
  text-align: center
  line-height: 160px
  position: relative
  input[type='checkbox']
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    border-radius: 10px
    opacity: 0
  .checked
    position: absolute
    left: 50%
    top: 50%
    width: 30px
    height: 30px
    box-sizing: border-box
    background: $bg-white
    border: 2px solid $border-gray
    border-radius: 50%
    transform: translate(-50%, -50%)
  input[type='checkbox']:checked + .checked
    background: $bg-white
    border: 10px solid $border-red
